.places__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #fff;
}

@media all and (max-width: 728px) {
    .places__paragraph {
        font-size: 16px;
    }
}