.photo-grid {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(12, auto);
    margin: 64px 16px 0 16px;
}

@media all and (min-width: 728px) {
    .photo-grid {
        gap: 16px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(6, auto);
        margin: 88px 24px 0 24px;
    }
}

@media all and (min-width: 1024px) {
    .photo-grid {
        gap: 14px;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
    }
}

@media all and (min-width: 1280px) {
    .photo-grid {
        gap: 16px;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3, auto);
        margin: 92px 48px 0 48px;
    }
}