.page__header {
    margin: 16px 16px 0;
}

@media screen and (min-width: 768px) {
    .page__header {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 28px;
    }
}

@media screen and (min-width: 1024px) {
    .page__header {
        margin-left: 48px;
        margin-right: 48px;
    }
}