.cover__subtitle {
    color: #fff;
    font-size: 18px;

    font-weight: 400;
    left: 0;
    line-height: 22px;
    margin: 429px 412px 0;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 2;
}

@media all and (max-width: 1024px) {
    .cover__subtitle {
        margin: 379px 332px 0;
    }
}

@media all and (max-width: 768px) {
    .cover__subtitle {
        margin: 299px 204px 0;
    }
}

@media all and (max-width: 320px) {
    .cover__subtitle {
        margin: 119px 16px 0;
    }
}