.page__intro {
    margin: 64px 0 0 16px;
}

@media screen and (min-width: 768px) {
    .page__intro {
        margin: 88px 0 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    .page__intro {
        margin: 92px 0 0 48px;
    }
}

@media screen and (min-width: 1280px) {
    .page__intro {
        margin-left: 148px;
    }
}