.place__paragraph-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 16px 0;
}

@media screen and (min-width: 768px) {
    .place__paragraph-wrapper {
        margin-right: 0;
        margin-left: 0;
    }
}