.intro {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 148px;
    margin-top: 92px;
}

@media all and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}

@media all and (max-width: 728px) {
    .intro {
        margin-left: 24px;
    }
}

@media all and (max-width: 320px) {
    .intro {
        margin-left: 16px;
    }
}