.page__lead {
    margin: 0;
}

@media all and (min-width: 1024px) {
    .page__lead {
        margin: 0 48px;
    }
}

@media all and (min-width: 1280px) {
    .page__lead {
        margin: 0 148px;
    }
}