.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

@media all and (min-width: 768px) {
    .footer {
        flex-direction: row;
    }
}