.places__url-heading {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 12px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1024px) {
    .places__url-heading {
        font-size: 12px;
        line-height: 170%;
    }
}