.page__footer {
    margin: 64px 16px 24px;
}

@media all and (min-width: 768px) {
    .page__footer {
        margin: 88px 24px 24px;
    }
}

@media all and (min-width: 1024px) {
    .page__footer {
        margin: 92px 48px 24px;
    }
}