.page__photo-grid {
    margin: 64px 16px 0;
}

@media screen and (min-width: 768px) {
    .page__photo-grid {
        margin: 88px 24px 0;
    }
}

@media screen and (min-width: 1024px) {
    .page__photo-grid {
        margin: 92px 48px 0;
    }
}