.page__photo-grid {
    margin: 64px 16px 0;
}

@media screen and (min-width: 768px) {
    .page__photo-grid {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .page__photo-grid {
        margin-left: 48px;
        margin-right: 48px;
        margin-top: 92px;
    }
}